local config = {
  bamboo_hostname = "bamboo hostname",
  bamboo_plan = "plan key",
  bamboo_username = "bamboo username",
  bamboo_password = "bamboo password",
  poll_period_ms = 1*60*1000,
  button_pin = 3,
  button_tap_time_ms = 300,
  button_hold_time_ms = 2000,
  ws2812_led_count = 8,
  -- State to animation map for Bamboo
  state_animation_map = {
    InProgress = "running",
    Successful = "success",
    Failed = "failure",
    HttpError = "error"
  },
}

return config