local config = {
  bamboo_hostname = "bamboo hostname",
  bamboo_plan = "plan key",
  bamboo_username = "bamboo username",
  bamboo_password = "bamboo password",
  -- 1 minute default (1 minute * 60 seconds * 1000 ms)
  poll_period_ms = 1*60*1000,
  -- See readme for note about pin numbers
  button_pin = 3,
  button_tap_time_ms = 300,
  button_hold_time_ms = 2000,
  ws2812_led_count = 8,
  -- State to animation map for Bamboo
  state_animation_map = {
    InProgress = "running",
    Successful = "success",
    Failed = "failure",
    HttpError = "error"
  },
  -- battery measurement info
  battery = {
    -- set this to false if you're not using a battery for power
    enabled = true,
    r1_ohms = 330000,
    r2_ohms = 100000,
    -- if your ADC is perfect leave this at 1024.
    -- otherwise, connect your battery to the 3.3V regulator output
    -- and adjust this until the reported battery voltage is 3300mV (ish)
    scaling_factor = 1024,
    shutoff_voltage_mv = 3300,
  }
}

return config